{% extends 'lexi/base.html' %}
{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col-md-2"></div>
        <div class="col-md">
            <p>Subtitle</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{commonWords}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{commonWords|floatformat:"2"}}%</div>
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{uncommonWords}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{uncommonWords|floatformat:"2"}}%</div>
                <!--div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div-->
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row py-3">
        <div class="col-md-9">
            <h2>Text result</h2>
            <p class="lead" id="checkedMessage">{{ checked_message|safe }}</p>
        </div>
        <div class="col-md">
            {{ count }}
            {{ suggestions|safe }}
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}