{% extends 'lexi/base.html' %}
{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col">
            <h1 class="center-aligned">Results</h1>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md justify-content-end" style="margin: auto; display: inline-flex;">
            <div style="margin-right: 1rem;">Common Words</div>
            <div class="bg-success progress-bar-striped common-icon"></div>
        </div>
        <div class="col-md" style="margin: auto; display: inline-flex;">
            <div class="bg-danger progress-bar-striped common-icon"></div>
            <div style="margin-left: 1rem;">Uncommon Words</div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md justify-content-end progress-labels text-success">
            {{global_variables.commonWordsPercentage|floatformat:"2"}}%
        </div>
        <div class="col-md-7">
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{global_variables.commonWordsPercentage}}%" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{global_variables.uncommonWordsPercentage}}%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-md progress-labels text-danger">
            {{global_variables.uncommonWordsPercentage|floatformat:"2"}}%
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <h1 class="center-aligned {{global_variables.result_class}}">{{global_variables.result}}</h1>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-9">
            <div class="col-md">
                <h2>Text result</h2>
                <p class="lead" id="checkedMessage">{{ checked_message|safe }}</p>
            </div>
            <div class="col-md">
                <p><strong>Notes</strong></p>
                <p>This analysis was made based on the {{global_variables.subset_common_words}} most common words and the defined threshold for the evaluation ({{global_variables.threshold}}%). The suggestions source was {{global_variables.source}}.</p>
                <p>Elapsed time: {{global_variables.elapsed_time}}</p>
            </div>
        </div>
        <div class="col-md">
            {{ global_variables.suggestions|safe }}
        </div>
    </div>
</div>
{% endblock %}