<h1>Business Words</h1>
{% if business_words %}
<ul>
{% for word in business_words %}
    <li>{{ word }}</li>
{% endfor %}
</ul>
{% else %}
<p>There are not business words yet.</p>
{% endif %}
<div class="card-footer text-muted">
    <!--ToDo: Footer here! Should be a separate html-->
    <a href="{% url 'lexi:index' %}">Home</a> | <a href="{% url 'lexi:common words' %}">Common Words</a> | <a href="{% url 'lexi:business words' %}">Business Words</a> | <a href="{% url 'lexi:message analysis' %}">Message Analysis</a>
</div>