<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static  %}
<link rel="stylesheet" href="{% static 'lexi/style.css' %}">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Lexi</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md section">
            <div class="col section-title">
                <h2>Text to validate</h2>
            </div>
            <div class="w-100"></div>
            <div class="col section-description">
                <form action="{% url 'lexi:index' %}" method="post">
                {%csrf_token%}
                    <textarea class="form-control" name="inputText" id="textToCheck" rows="8">{{ original_message }}</textarea>
                    <!--
Please be advised that disruptions are expected to affect peak-hour traffic and public transport tonight, with a climate change protest planned in the CBD.

Protestors are expected to meet at the State Library on Swanston Street at 5pm, before separating to a series of locations in the CBD to block foot and road traffic. The protest is expected to finish at 7pm.

Victoria Police are aware of the protest and are calling on people to be patient, plan their journey, and allow extra time for their commute where possible.

Please speak to your manager if you think you may be impacted by the protest.-->
                    <div class="col">
                        <!--Add color styles as span classes-->
                        <button type="submit" class="btn btn-outline oneK" name="threshold" value="1000">1k</button> <!--ToDo: Give the color styles-->
                        <button type="submit" class="btn btn-outline twoK" name="threshold" value="2000">2k</button>
                        <button type="button" class="btn fiveK">5k</button>
                        <button type="button" class="btn tenK">10k</button>
                        <button type="button" class="btn twentyK">20k</button>
                        <button type="button" class="btn">Cenitex</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md section">
            <div class="col section-title">
            <h2>Results</h2>
            </div>
            <div class="w-100"></div>
            <div class="col section-description">
                <p class="lead" id="commonWords"></p>
                <p class="lead" id="cenitexWords"></p>
                <p class="lead" id="notCommonWords"></p>
                <p class="lead" id="words"></p>
                <p class="lead" id="message"></p>
                <p class="lead" id="percentage"></p>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md section">
            <div class="col section-title">
                <h2>Text result</h2>
            </div>
            <div class="w-100"></div>
            <div class="col section-description">
                <p class="lead" id="checkedMessage">{{ checked_message|safe }}</p>
            </div>
        </div>
        <div class="col-md section">
            <div class="col section-title">
                <h2>Chart</h2>
            </div>
            <div class="w-100"></div>
            <div class="col section-description">
                <textarea class="form-control" name="input" id="textToCheck" rows="8"></textarea>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <!--ToDo: Footer here! Should be a separate html-->
        <a href="{% url 'lexi:index' %}">Home</a> | <a href="{% url 'lexi:common words' %}">Common Words</a> | <a href="{% url 'lexi:business words' %}">Business Words</a> | <a href="{% url 'lexi:message analysis' %}">Message Analysis</a>
    </div>
</div>