{% extends 'lexi/base.html' %}
{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col-md">
            <p>After analyzing one of the three problem statements we prioritized, we came up with Lexi to help Cenitex to improve its capacity to communicate messages to customers in a language that is accessible. Lexi does this by using the most common words in English.</p>
            <p>Lexi is a system (web app), developed with Python as Programming Language and Django as web framework, that will help Cenitex validate how accessible is the message of most of their comms before sending them to customers. What Lexi does is getting a text, analyze it, and validate each word to determine whether that word is either common or uncommon, based on the group of common words configured.</p>
            <p>Then, Lexi presents the same text but it highlights each uncommon word with an underline. Moreover, Lexi also indicates how accessible the whole input text is by showing also, as a result, a percentage. A ‘’Passed!” message will be shown if that percentage is higher or equal to the one defined in Lexi’s configuration. Otherwise, the message “Check the message” will appear, asking the user for double-checking the message.</p>
        </div>
        <div class="col-md justify-content-center">
                <img class="rounded mx-auto d-block" src="https://dummyimage.com/550x400/705798/fff" alt=""> <!--ToDo: Change image!-->
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md">
            <h2>Instructions to follow</h2>
            <ol>
                <li>Give a Lexi a text to analyze in the following textarea.</li>
                <li>Click on one of the two buttons to tell Lexi to evaluate your text.</li>
                <li>Sit confortable and wait till Lexi does its work and show you the results.</li>
                <li>See the result and the percentages of both common and uncommon words. Based on that, make any change you need to do in order to get an acceptable threshold.</li>
            </ol>
            {% if error_message%}
            <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endif %}
        </div>
        <div class="w-100"></div>
        <div class="col-md">
            <form action="{% url 'lexi:analysis' %}" method="post">
            {%csrf_token%}
                <div>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  <!--ToDo: Loading icon-->
                    <button type="submit" class="btn btn-outline">Validate accessibility</button>
                </div>
                <textarea class="form-control my-4" name="inputText" id="textToCheck" rows="8">{{ original_message }}</textarea>
            <!--
    Please be advised that disruptions are expected to affect peak-hour traffic and public transport tonight, with a climate change protest planned in the CBD.

    Protestors are expected to meet at the State Library on Swanston Street at 5pm, before separating to a series of locations in the CBD to block foot and road traffic. The protest is expected to finish at 7pm.

    Victoria Police are aware of the protest and are calling on people to be patient, plan their journey, and allow extra time for their commute where possible.

    Please speak to your manager if you think you may be impacted by the protest.-->
            </form>
        </div>
    </div>
</div>
{% endblock %}