{% extends 'lexi/base.html' %}
{% block content %}
<div class="container">
    <div class="row py-3">
        <div class="col-md">
            <p>After analyzing some problem statements found at Cenitex, we came up with Lexi to help Cenitex improve its capacity to communicate messages to customers in a language that is accessible. Lexi does this by using 1000 or 2000 of the most common words in the English language.</p>
            <p>Lexi is a system (web app) that will help Cenitex validate how accessible are most of their comms before sending them to customers.</p>
            <p>What Lexi does is to get a text, analyze it, and validate each word to determine whether that word is either common or uncommon. Then, based on how common each word is, Lexi presents the same text but it highlights each word with a colour tag explaining how common each word is.</p>
            <p>Lexi also indicates how accessible a text is by showing with each message a percentile reading. A message will be green if your use of common words rate higher or equal to 80%. Otherwise, the message will be in red, asking the user to double-check the message. As charts are the best way to show results in a summarized form, Lexi also draws a pie chart with the percentages for both the common and uncommon words.</p>
        </div>
        <div class="col-md justify-content-center">
                <img class="rounded mx-auto d-block" src="https://dummyimage.com/550x400/705798/fff" alt="">
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md">
            <h2>Instructions to follow</h2>
            <ol>
                <li>Give a Lexi a text to analyze in the textarea below.</li>
                <li>Click on one of the two buttons to tell Lexi to evaluate within either the 1000 or 2000 most common words.</li>
                <li>Sit confortable and wait till Lexi does its work and show you the results.</li>
                <li>See the result and the percentages of both common and uncommon words. Based on that, make any change you need to do in order to get an acceptable threshold.</li>
            </ol>
            {% if error_message%}
            <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endif %}
        </div>
        <div class="w-100"></div>
        <div class="col-md">
            <form action="{% url 'lexi:analysis' %}" method="post">
            {%csrf_token%}
                <div>
                    <button type="submit" class="btn btn-outline oneK" name="threshold" value="1000">1k</button> <!--ToDo: Give the color styles-->
                    <button type="submit" class="btn btn-outline twoK" name="threshold" value="2000">2k</button>
                </div>
                <textarea class="form-control my-4" name="inputText" id="textToCheck" rows="8">{{ original_message }}</textarea>
            <!--
    Please be advised that disruptions are expected to affect peak-hour traffic and public transport tonight, with a climate change protest planned in the CBD.

    Protestors are expected to meet at the State Library on Swanston Street at 5pm, before separating to a series of locations in the CBD to block foot and road traffic. The protest is expected to finish at 7pm.

    Victoria Police are aware of the protest and are calling on people to be patient, plan their journey, and allow extra time for their commute where possible.

    Please speak to your manager if you think you may be impacted by the protest.-->
            </form>
        </div>
    </div>
</div>
{% endblock %}