#lexi-title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding: 20px 0;
}

.uncommon:hover {
    /*transform: scale(2,2);*/
    font-size: 30px;
}

.uncommon {
    text-decoration-line: underline;
    text-decoration-color: #e50046;
}

.word {
    font-weight: normal;
}

.btn:focus {
    background: greenyellow;
    /*box-shadow: 0 2px gray;*/
    transform: translateY(5px);
}

/*.card-footer {
    position: fixed;
    bottom: 0px;
    width: inherit;
}*/