#lexi-title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding: 20px 0;
}

.uncommon:hover {
    font-size: 1.5rem;
}

.uncommon {
    text-decoration-line: underline;
    text-decoration-color: #e50046;
    background: #ffffd5;
}

.word {
    font-weight: normal;
}

.btn:focus {
    background: greenyellow;
    transform: translateY(5px);
}

/*.card-footer {        //ToDo: Get a fixed footer
    position: fixed;
    bottom: 0px;
    width: inherit;
}*/

.progress {
    height: 2rem;
    font-size: 1.3rem;
}

.center-aligned {
    text-align: center;
}

.common-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.pass {
    color: green;
}

.bad {
    color: red;
}